body{
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg,#ffd6e8,#d6f2ff);
color:#444;
margin:0;
padding:0;
}

/* tarjeta principal */

.card{
text-align:center;
padding:50px;
background:white;
margin:40px auto;
width:80%;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* nombre */

h1{
color:#ff8fb1;
font-size:40px;
}

/* links */

.links a{
background:#c6f0ff;
padding:10px 18px;
margin:5px;
border-radius:20px;
text-decoration:none;
color:#444;
font-weight:600;
transition:0.3s;
}

.links a:hover{
background:#ffb3d1;
transform:scale(1.05);
}

/* sección proyectos */

.projects{
width:85%;
margin:auto;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* tabla */

table{
width:100%;
border-collapse:collapse;
}

th{
background:#ffe4f1;
padding:12px;
}

td{
padding:12px;
border-bottom:1px solid #eee;
}

/* botones */

button{
background:#8fe3ff;
border:none;
padding:10px 16px;
border-radius:20px;
cursor:pointer;
font-weight:600;
transition:0.3s;
}

button:hover{
background:#ff9ec9;
transform:scale(1.05);
}

/* footer */

footer{
text-align:center;
margin-top:40px;
color:#777;
}

.banner{
width:100%;
height:1200px;
object-fit:cover;
display:block;
border-radius:20px;
margin-bottom:20px;
}

Teléfonos 

@media (max-width: 768px){

.card{
width:95%;
padding:25px;
}

.projects{
width:95%;
padding:20px;
}

.banner{
height:220px;
}

table{
font-size:14px;
}

.links a{
display:block;
margin:10px auto;
width:70%;
}

}
